<p>{{#each user.photos}}<img src="{{ value }}" alt="Photo of {{ user.displayName }}.">{{/each}}</p>
<p>ID: {{ user.id }}</p>
<p>Name: {{ user.displayName }}</p>
<p>Email: {{#each user.emails}} {{ value }} {{/each}}</p>